* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    list-style: none;
    text-decoration: none;
    
}
:root {
    --linear: linear-gradient(to right, #FA6E00, #E60026);
    --main-color: #121212;
    --orange: #FD6F00;
    --linear-orange: linear-gradient(to right, #984300, #FD6F00, #CA5900);
    --gray: #959595;
    --dark-gray: #707070;
    --darkest-gray: #1b1b1b;
    --more-dark-gray: #575757;
    --ligth-gray: #bababa;
    --white-gray: #dfdfdf;
}

body {
    background-color: var(--main-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 2rem 2rem;
    
    background-color: var(--main-color);
    color: var(--white-gray);
    
}

#menu{
    position: relative;
    top: 3px;
    font-size: 30px;
    cursor: pointer;
}

#close{
    display: none;
    position: relative;
    top: 3px;
    font-size: 25px;    
    cursor: pointer;
}


header img {
    position: relative;
    left: 16px;
    
}

header button {
    background-color: var(--orange);
    color: var(--white-gray);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


#menu-active {
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: min(15em, 100%);
    border-right: var(--gray) solid 1px;
    height: 100vh;
    background-color: var(--main-color);
    z-index: 9999;
    padding: 20px;
    transition: all .3s ease-in-out;
    color: var(--white-gray);
    
}

#menu-active.show{
    left: 0;
}

#menu-active a {
    margin: 1rem 0; 
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
}

#menu-active a:hover:not(.active){
    color: var(--white-gray);
}
#menu-active .active {
    color: var(--orange);
}

#close{
    display: block;
    position: relative;
    top: 3px;
    font-size: 25px;    
    cursor: pointer;
}

#overlay{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 9;
}

#overlay.show{
    position: absolute;
    display: block;
    right: 0;
}
#menu-active.show ~ #overlay{
    display: block;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-gray);
    padding: 2rem;

    
}

section p {
    margin-bottom: 8px;
}
section h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    
    color: var(--gray);
}
section h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1rem;
    background : linear-gradient(to right, #FA6E00, #E60026);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
section i {
    position: relative;
    flex-direction: row;
    font-size: 16px;
    margin: 0 0.5rem;
    color: var(--gray);
    border-radius: 50%;
    border: 2px solid var(--gray);
    padding: 8px 10px 8px 10px;   
    cursor: pointer;
}

div {
    display: flex;
    gap: 2em;
    margin-top: 10px;
    margin-bottom: 3rem;
    
}
.button1 {
    
    background-color: var(--orange);
    color: var(--white-gray);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    
}

.button2 {
    background-color: var(--main-color);
    color: var(--white-gray);
    border: 1px solid var(--white-gray);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
}   

.status {
    background-color: var(--darkest-gray);
    padding: 1rem  1rem 0 1rem;
  
    display: grid;
    grid-template-columns: repeat(3, 100px);
  
    border-radius: 0.5rem;
    
  }
  
  .status p {
    color: var(--white-gray);
    
  }
  .status span {
    color: var(--orange);
    font-weight: bold;
  }


.experiences,.projects,.clients {
  display: flex;
  position: relative;
  top: 10px;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}
.experiences,.projects {
  border-right: 1px solid var(--ligth-gray);
  padding-right: 3rem;
}



#persona{
    position: absolute;
    top: 674px;
    right: 28px;

    padding: 2em;
    
}

.circle {
    position: absolute;
    width: 400px;
    height: 400px;
    right: 28px;
    top:800px;
    border-radius: 50%;
    cursor: pointer;
    z-index: -1;
    background-color: #575757;
    opacity: calc(0.2);
}

.title-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.title-service h4 {

    font-size: 20px;
    color: white;
    margin-top: 300px;
}
.title-service span {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 12px;
    margin-top: -50px;
    color: var(--gray);
}
.service{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -40px;
    margin-bottom: -50px;
    padding: 10px ; 
 
    
}

.service h3 {
    color: var(--orange) ;
    font-size: 16px;
    position: relative;
    top: 30px;
}
.service .serv p {

    display: flex;
    align-items: center;
    font-size: 16px;
    position: relative;
    left: 15px;
    
    padding: 20px;
    color: var(-- --more-dark-graygray);
}

.service .serv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: -40px;
    background-color: var(--darkest-gray);
    border-radius: 20px;
    
  
    cursor: pointer;
}

.service .serv #user {
    position: relative;
    top: 50px;

    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
      
}
.about h4 {
    font-size: 20px;
    color: white;
    margin-top: 80px;
}

.about span {
    position: relative;
    padding: 0 0 0 30px;
    font-size: 12px;
    color: var(--gray);
}   

#man {
    position: absolute;
    top: 142rem;
    right: 20px;
    z-index: 1;
    padding: 2em;
}

.retangulo {
   
        width: 350px;
        height: 400px;
        background-color: var(--gray);
        position: absolute;
        top: 148.3rem;
        right: 50px;
        border-radius: 150px 150px 10px 10px;
        
        opacity: calc(0.2);
   
}